
    <div class="navbar">
        <img src="../../../assets/Images/LOGO.png" alt="">
       
        <ul>
            <li><button class="nav-link fs-6" routerLink="/home">Home</button></li>
            <li><button class="nav-link fs-6 " routerLink="/product">Products</button></li>
            <li><button class="nav-link fs-6" routerLink="/about">About Us</button></li>
            <li><button class="nav-link fs-6" routerLink="/contact">Contact Us</button></li>
            <li><button class="nav-link fs-6" routerLink="/cart"><i class="fa-solid fa-cart-plus"></i> Cart</button></li>
            <li><button class="nav-link fs-6" routerLink="/profile"><i class="fa-regular fa-user"></i> Profile</button></li>
            <li><button class="nav-link fs-6" (click)="logout()" ><i class="fa-solid fa-right-from-bracket"></i> Logout</button></li>
        </ul>
    </div>

<router-outlet></router-outlet>