
    <div class="navbar">
        <img src="../../../assets/Images/LOGO.png" alt="">
       
        <ul>
            <li><button class="nav-link" routerLink="/home">Home</button></li>
            <li><button class="nav-link" routerLink="/product">Products</button></li>
            <li><button class="nav-link" routerLink="/about">About Us</button></li>
            <li><button class="nav-link" routerLink="/contact">Contact Us</button></li>
            <li><button class="nav-link" routerLink="/cart"><i class="fa-solid fa-cart-plus"></i></button></li>
            <li><button class="nav-link" routerLink="/profile"><i class="fa-regular fa-user"></i></button></li>
            <li><button class="nav-link" ><i class="fa-solid fa-right-from-bracket"></i></button></li>
        </ul>
    </div>

<router-outlet></router-outlet>