<div class="video-container">
    <video autoplay loop muted class="background-video" src="../../../assets/Images/backvideo.mp4"></video>
    <div class="overlay-content">
        <h1 class="home-head">SOW GROW NOURISH </h1>
        <h3 class="fs-3">From Field To Future</h3>
        <span class="para">Welcome to our farming tool haven, where innovation meets cultivation! At our online store,</span> <br>
        <span class="para">we strive to equip every farmer with the finest tools for a bountiful harvest. </span>
    </div>
</div>

<div class="w-75 rounded-pill  text-center prod-heading">
  <h3 class="p-2 fs-4">PRODUCTS</h3>
</div>

<div class="container w-75">
    <div class="row mt-5">
      <div class="col-md-3" *ngFor="let product of products">
        <div class="card mb-4 ">
          <img [src]="product.image" class="w-100" alt="{{ product.name }}">
          <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, ab!</p>
            <p class="card-text">Price: ${{ product.price }}</p>
            <button class="btn btn-primary " routerLink="/product">Know More </button>
        </div>
        </div>
      </div>
    </div>
  </div>
  