<div class="back-img">
    <div class="container fs-5 fw-bold text-center contact">
        <span>Thank you for visiting our website! If you have any questions, comments, or
            concerns, please don't hesitate to get in touch with us.</span>
        <span>We value your feedback and are committed to providing excellent customer
            service.</span>
    </div>    
</div>
<div class=" d-flex">
    <div class="w-50">hello</div>
    <div class="w-50">
        <img class="h-50 w-25" src="../../../assets/Images/contactUs.png" alt="">
    </div>
</div>
